.home-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.chats-button {
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .chats-button {
        display: flex;
    }
}